body{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #868585;
	background: #fdfcfb;
	font-weight: normal;
}
img{
	max-width: 100%;
	height: auto;
}
header{
	margin: 10px 0 50px;
}

.header2 {
	margin: 10px 0 20px;	
}


.card-row{
	margin-bottom: 50px;
}
.card-row img{
	box-shadow: 0 0 5px rgba(0, 0, 0, .19);
	transition: all .5s;
}
.card-row a:hover img{
	box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.nav-pager{
	text-align: center;
}

.nav {
	width:180px;
}

.home-link {
	float: right;
	font-size: 20px;
	margin-top: -20px;
    margin-right: 10px;
}

.user-icon {
	font-size: 20px;
	padding-left: 10px;
	padding-right:10px;

}

.user-menu {
	margin-left:70px;
}


.user-button {
	width: auto;
	margin-left:70px;

}


.login {
	padding-left:70px;
	padding-right:10px;
}


.mess-button {
	margin-top: 5px
}

.edited-mess {
	color: green;
}

.sort-link {
	padding: 0px;
	padding-top: 5px;
}

.my-panel-body {
	padding-top: 0;
}

.alert {
	padding: 7px;
	margin: 5px;
	width: 580px
}

.feed_textatea {
	text-align: left;
}




footer{
	margin-bottom: 100px;
}
footer hr{
	border-color: #b7b6b6;
}

